{% extends 'pagina/base.html' %}

{% block contenido%}

     <center> 
        <h1><b><u>Gabriel Emmanuel Rombolá</u></b></h1>
        <p></p>
        <h2><b>MI INFO PERSONAL</b></h2>
        <h4>
            Mi nombre es Gabriel Emmanuel Rombolá, tengo 35 años, resido en Buenos Aires.
                        Trabajo en Mantenimiento central de Ford Argentina...
        </h4>
        <h4>        
            La idea de realizar los cursos de Coder, es basicamente, para capacitarme y ampliar mis conocimientos en el area de programación y afines, 
            dado a que poseo titulo de tecnico en informatica, con conocimientos en el área de IT.
            De ser posible, la idea es poder remotar a trajamos realacionados al area mencionada.
        </h4>
        
        
        <div>

            <a href="/pagina/listar/">Volver a lista</a>

        </div>
    </center>   
{% endblock %}