{% extends 'pagina/base.html' %}

{% block contenido%}
{% if user.is_authenticated %}
<li>
    <a href="{% url 'pagina_crear' %}">Nuevo Repuesto</a><p></p>
    <a href="{% url 'pagina_avatars_actualizar' user.id %}">Actualizar Avatar</a><p></p>
    <a href="{% url 'pagina_users_actualizar' user.id %}">Actualizar Perfil</a><p></p>
    <a href="{% url 'pagina_mensajes_listar' %}">Mensajes</a><p></p>
</li>
{% endif %}
<ul>
{% for post in object_list %}
    <li>
        {{post.Repuesto}}
        {% if user.is_authenticated %}
        <a href="{% url 'pagina_borrar' post.id %}">Borrar</a>
        <a href="{% url 'pagina_actualizar' post.id %}">Actualizar</a>
        {% endif %}
        <a href="{% url 'pagina_detalle' post.id %}">Ver Detalle</a>
    </li>
{% endfor %}
</ul>

{% endblock %}